# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
venv/
env/
.env

# Model files
backend/model/*.pkl

# Firebase
serviceAccountKey.json

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Node
node_modules/
